<div class="image-view-modal">
  <div class="close ion-arrow-left-c" data-ng-click="closeImage()"></div>
  <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false"
    zooming="true" delegate-handle="zoom-pane" min-zoom="1" style="width: 100%; height: 100%;">
    <div class="image" style="background-image:url({{imageView}})"></div>
  </ion-scroll>
</div>