<div id="page-installation">
    <div id="move-select" ng-if="!data.group">
        <div class="title">Cuadrilla</div>
        <div class="active">
            <select ng-change="groupSelected()" ng-model="data.group">
                <option value="">Seleccione...</option>
                <option ng-repeat="group in groups" value="{{group.name}}">{{group.name}} {{group.info?' - '+group.info:''}}</option>
            </select>
        </div>
    </div>
    <div ng-if="!!data.group">
        <div class="content-button" ng-if="!data.finished">
            <ion-content>
                <div id="lamp-install" >
                    <div class="move">{{data.group}}</div>
                    <div class="step active" title="Posición {{control.numOfLampsInPosition>1?'('+control.numOfLampsInPosition+')':''}}">
                        <ion-scroll class="x-scroll" direction="x">
                            <span ng-repeat="n in [0,control.numOfLampsInPosition] | loop">
                                <button ng-class="{'pole-active': !!data.pole[$index]}" data-ng-click="showMap($index)">{{data.position[$index]?data.position[$index]:'Posición'}}</button>
                            </span>
                        </ion-scroll>
                    </div>
                    <div class="step" ng-class="{'active': data.position.length==control.numOfLampsInPosition}" title="Luminaría a instalar {{control.numOfLampsInPosition>1?'('+control.numOfLampsInPosition+')':''}}">
                        <ion-scroll class="x-scroll" direction="x">
                            <span ng-repeat="n in [0,control.numOfLampsInPosition] | loop">
                                <div style="font-size: 70%;">{{control.numOfLampsInPosition>1?'posición '+data.position[$index]:''}}</div>
                                <button class="ion-ios-barcode-outline lamp-scanner"
                                        ng-if="cordovaActive"
                                        ng-disabled="data.position.length!=control.numOfLampsInPosition"
                                        data-ng-click="lampScanner($index)"
                                        ng-bind="data.lamp[$index] || 'Escanear'"></button>
                                <select ng-disabled="data.position.length!=control.numOfLampsInPosition"
                                        ng-if="!cordovaActive"
                                        ng-change="lampChange($index)"
                                        ng-model="data.lamp[$index]">
                                    <option value="">Seleccione...</option>
                                    <option ng-repeat="lamp in this.lamps | orderBy: 'serial'" value="{{lamp.serial}}">{{lamp.serial}}</option>
                                </select>
                            </span>
                        </ion-scroll>
                    </div>
                    <div class="step" ng-class="{'active': data.position.length==control.numOfLampsInPosition}" title="Fotos antes y despues">
                        <div style="position: relative">
                            <button class="no-style ion-camera camera" ng-disabled="data.position.length!=control.numOfLampsInPosition" data-ng-click="takePhoto()"></button>
                        </div>
                    </div>
                    <div ng-if="!!data.photoBefore||!!data.photoAfter||control.editingInstallForPhotos" style="margin: 0;">
                        <table align="center" width="100%">
                            <tr class="tr-photo-header">
                                <td>Antes de instalación</td>
                                <td ng-if="!!data.photoAfter||control.editingInstallForPhotos">Despues de instalación</td>
                            </tr>
                        </table>
                        <div class="photos">
                            <div style="background-image:url({{data.photoBefore}});" ng-click="showImage(data.photoBefore)">
                                <div ng-if="control.editingInstallForPhotos" style="font-size: 14px;">Editando información<br>ya existe foto guardada</div>
                            </div>
                            <div style="background-image:url({{data.photoAfter}});" ng-click="showImage(data.photoAfter)" ng-show="!!data.photoAfter||control.editingInstallForPhotos" class="ng-hide">
                                <div ng-if="control.editingInstallForPhotos" style="font-size: 14px;">Editando información<br>ya existe foto guardada</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </div>
        <div class="content-button" ng-class="{'hideable-button': data.finished}" ng-if="data.finished">
            <ion-content delegate-handle="mainScroll">
                <table class="table-info">
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <h3><b>RESUMEN</b></h3>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>Cuadrilla:</td>
                        <td>{{data.group}}</td>
                    </tr>
                    <tr>
                        <td>Posición:</td>
                        <td>{{data.position.join(', ')}}</td>
                    </tr>
                    <tr>
                        <td>Lampara:</td>
                        <td>{{data.lamp.join(', ')}}</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">Fotos de instalación</td>
                    </tr>
                    <tr ng-if="!control.allPhotosTaked&&!!data.photoAfter">
                        <td colspan="2" style="text-align: center;">
                            <button class="no-style ion-camera camera before-icon-200" data-ng-click="takePhoto()"></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 0.25em 0 0;" ng-style="(!control.allPhotosTaked&&!!data.photoAfter) && {'padding': '0'}">
                            <table width="100%">
                                <tr class="tr-photo-header">
                                    <td>Antes</td>
                                    <td>Despues</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="photos">
                                        <div style="background-image:url({{data.photoBefore}});" ng-click="showImage(data.photoBefore)">
                                            <div ng-if="control.editingInstallForPhotos" style="font-size: 14px;">Editando información<br>ya existe foto guardada</div>
                                        </div>
                                        <div style="background-image:url({{data.photoAfter}});" ng-click="showImage(data.photoAfter)">
                                            <div ng-if="control.editingInstallForPhotos" style="font-size: 14px;">Editando información<br>ya existe foto guardada</div>
                                            <button class="no-style ion-camera camera before-icon-250" ng-if="!data.photoAfter&&!control.editingInstallForPhotos"
                                                    ng-style="(data.savesubmited&&!data.photoAfter) && {'color':'red'}" data-ng-click="takePhoto()"></button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 0.7em 0 0;">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <ion-scroll direction="x" style="white-space: nowrap;">
                                            <span class="removed_block" ng-repeat="n in [0,control.numOfLampsInPosition] | loop">
                                                <div style="font-size: 70%; font-weight: normal;">{{control.numOfLampsInPosition>1?'posición '+data.position[$index]:''}}</div>
                                                <div style="font-size: 80%; font-weight: normal;">
                                                    Había luminaria de retiro
                                                    <label class="input-switch">
                                                        <span class="option" style="font-size: 13px">No</span>
                                                        <input type="checkbox" ng-model="data.lampExists[$index]">
                                                        <span class="slider round"></span>
                                                        <span class="option" style="font-size: 13px">Si</span>
                                                    </label>
                                                </div>
                                                <div class="removed_lamp_info" ng-class="{'form-disable': !data.lampExists[$index]}">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 70%;">
                                                                Tipo:<br>
                                                                <input type="text" ng-disabled="!data.lampExists[$index]" ng-model="data.removedType[$index]" pattern="[a-zA-Z0-9\s]+">
                                                            </td>
                                                            <td style="width: 30%;">
                                                                Pot W:<br>
                                                                <input type="text" ng-disabled="!data.lampExists[$index]" ng-model="data.removedPower[$index]" pattern="[0-9\s]+">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                Bal:<br>
                                                                <input type="text" ng-disabled="!data.lampExists[$index]" ng-model="data.removedBal[$index]" pattern="[a-zA-Z0-9\s]+">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </span>
                                        </ion-scroll>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 1em 0 0;">
                            <table width="100%">
                                <tr>
                                    <td class="info-form">
                                        <div style="width: 70%;">
                                            Calle:<br>
                                            <input type="text" name="address" ng-model="data.address" ng-style="(data.savesubmited&&!data.address) && {'border-color':'red'}">
                                        </div>
                                        <div style="width: 25%;">
                                            Frente #:<br>
                                            <input type="text" name="addr_number" ng-model="data.addressNumber" ng-style="(data.savesubmited&&!data.addressNumber) && {'border-color':'red'}">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-form">
                                        <div style="width: 48%;">
                                            Entre calle:<br>
                                            <input type="text" name="street1" ng-model="data.street1" ng-style="(data.savesubmited&&!data.street1) && {'border-color':'red'}">
                                        </div>
                                        <div style="width: 47%;">
                                            Y<br>
                                            <input type="text" name="street2" ng-model="data.street2" ng-style="(data.savesubmited&&!data.street2) && {'border-color':'red'}">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="littleMap" class="map-container"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Observaciones:</td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea ng-model="data.comments" class="comments" style="margin-bottom: 15px;"></textarea></td>
                    </tr>
                </table>
            </ion-content>
        </div>
        <div class="container-button" ng-class="{
        'hide-on-keyboard-open': data.finished,
        'disabled': control.buttonDisabled
      }">
            <span class="icon ion-arrow-right-c" ng-click="next()"> {{!!data.finished?'Finalizar':'Siguiente'}}</span>
        </div>
    </div>
</div>

<script id="templates/modal-camara.html" type="text/ng-template">
    <div class="black-background">
        <div id="camera">
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        </div>
        <div class="control">
            <form>
                <button data-ng-click="actionCamera(false)">Cancelar</button>
                <button data-ng-click="actionCamera(true)">Aceptar</button>
            </form>
        </div>
    </div>
</script>