<div id="page-map" style="height: 100%; width: 100%; position: absolute;">
    <div ng-hide="noMap" id="map" class="map-container ng-hide"></div>
    <ion-content ng-class="{'no-map': noMap, 'out-of-range': !(positionsForMap | filter: inRange).length}">
        <div class="out-of-range" ng-if="!(positionsForMap | filter: inRange).length">
            <div>
                No hay posiciones cercanas para realizar una instalación.
                <button ng-click="showOutOfRange()">Mostrar posiciones<br>fuera de rango</button>
            </div>
        </div>
        <div class="mapainfo" ng-repeat="position in positionsForMap | filter: inRange | orderBy: 'distanceMeters'" ng-click="selectPosition(position)" ng-class="{'clicked': !!position.clicked, 'installed': position.installed, 'not-in-range': position.distanceMeters>100}">
            <div class="mapaInfo-Circle">
            </div>
            <div class="mapaInfo-Datos">
                <div class="info">
                    <strong>{{position.name}} {{!!position.watts ? position.watts + 'W': ''}}</strong>
                    <br>
                    <span style="font-size: 80%">{{position.distance}}</span>
                </div>
                <div class="status">
                    <div ng-if="position.distanceMeters > 100"> fuera de rango </div>
                    <div ng-if="!!position.installed"> ya instalado </div>
                </div>
            </div>
        </div>
    </ion-content>
</div>