<ion-side-menus>
    <ion-side-menu side="left">
        <ion-content class="scroll-content ionic-scroll">
            <div id="left-menu-list">
                <div menu-toggle class="ng-hide ion-cube" ng-show="Username!=''" data-ui-sref="app.inventory({idGroup: Username})">Inventario</div>
                <div menu-toggle class="ng-hide ion-refresh" ng-show="Username!=''" ng-click="startInstallation()">Reiniciar instalación</div>
                <div menu-toggle class="ng-hide ion-arrow-swap" ng-show="Username!=''" ng-click="changeGroup()">Cambiar de cuadrilla</div>
                <div menu-toggle class="ion-android-exit" onclick="ionic.Platform.exitApp()">Cerrar</div>
            </div>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu-content drag-content="!disableDragMenu">
        <div id="page">
            <div id="header">
                <div id="menu"><span class="icon ion-navicon" menu-toggle="left"></span></div><!--
      -->
                <div id="logo"></div><!--
      -->
                <div id="app-version" ng-if="!!appVersion">{{appVersion}}{{appEnvironment}}</div>
            </div>
            <div data-ui-view="content" id="content"></div>
        </div>
    </ion-side-menu-content>
</ion-side-menus>