<ion-modal-view id="inventory-list">
    <ion-header-bar>
        <div>{{lists[filtersListItems.listActive].name}} {{filtersListItems.listItemsGroup}}</div>
        <button data-ng-click="closeDetails()">Cerrar</button>
    </ion-header-bar>
    <div class="filter item range">
        <input type="range" name="filter" min="1" max="3" step="1"
               ng-model="filtersListItems.listFilter" ng-change="applyFilter()">
        <div class="labels">
            <div>Todas</div>
            <div>Sin instalar</div>
            <div>Instaladas</div>
        </div>
    </div>
    <ion-content delegate-handle="listScroll">
        <ul class="list">
            <li class="item" ng-repeat="item in detailsListItems.items | orderBy:'installed'"
                ng-class="{'installed': !!item.installed}">
                {{item.serial || item.name}}
                <span class="status">{{!!item.installed?'instalada':''}}</span>
                <p>{{item.info || item.circuit}}</p>
            </li>
        </ul>
    </ion-content>
</ion-modal-view>