<div id="page-inventory">
    <div id="menu">
        <div ng-repeat="(key, value) in lists"
        data-ng-click="listChange(key)"
        ng-class="{'active': filtersListItems.listActive==key}">
            {{value.name}} ({{value.total}})
        </div>
    </div>
    <div id="list">
        <div id="types-menu">
            <ion-content delegate-handle="listScroll">
                <ul class="list">
                    <li class="item table" ng-repeat="list in lists[filtersListItems.listActive].itemsLists | orderBy:'group'" data-ng-click="showDetails(list.group)">
                        <div>
                            <b>{{list.group}}</b>
                            <p>Cantidad: {{list.items.length}}</p>
                        </div>
                        <div class="installed-status">
                            <div class="no-counted">Disponibles: <b>{{(list.items.length - list.count) || 0}}</b></div><br>
                            <div class="counted">Instaladas: <b>{{list.count || 0}}</b></div>
                        </div>
                    </li>
                </ul>
            </ion-content>
        </div>
    </div>
</div>