a,
*[data-ui-sref], *[ui-sref],
*[data-ng-click], *[ng-click] {
    cursor: pointer;
}
body.black-background,
.black-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.view-container {
    background: #FFF !important;
}
.fullscreen {
    width: 100%;
    height: 100%;
}
.content-center {
    text-align: center;
}
.content-center>* {
    display: inline-block !important;
}
.content-center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.spacer-1em {
    height: 1em;
}
.table {
    display: table;
    width: 100%;
}
    .table > * {
        display: table-cell;
        vertical-align: middle;
    }
.hmirror,
.icon.hmirror:before {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.vmirror,
.icon.vmirror:before {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
button.no-style {
  border: none !important;
  background: transparent !important;
  width: auto !important;
  min-width: 0 !important;
  height: auto !important;
  min-height: 0 !important;
}

ion-scroll.x-scroll {
    white-space: nowrap;
}
    ion-scroll.x-scroll>span,
    ion-scroll.x-scroll>.scroll>span {
        display: inline-block;
        margin-right: 4px;
    }
.before-icon-150:before { font-size: 150%; }
.before-icon-200:before { font-size: 200%; }
.before-icon-250:before { font-size: 250%; }

td.column-compress,
.table>* *.column-compress{
    width: 1px;
    white-space: nowrap;
}

.form-disable {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

label.input-switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0!important;
    width: 120px;
    padding: 0!important;
}
    label.input-switch>* {
        font-size: 15.4px;
    }
    label.input-switch .option {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        font-weight: 400;
        width: 35px;
        max-width: 35px;
    }
    label.input-switch .option:last-child {
        text-align: left;
    }
    label.input-switch input {
        display:none;
    }
    label.input-switch .slider {
        display: inline-block;
        vertical-align: middle;
        visibility: visible;
        position: relative;
        cursor: pointer;
        height: 20px;
        width: 40px;
        margin: 0 5px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    label.input-switch .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    label.input-switch input:checked + .slider {
        background-color: #F99C25;
    }
    label.input-switch input:focus + .slider {
        box-shadow: 0 0 1px #F99C25;
    }
    label.input-switch input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    label.input-switch .slider.round {
        border-radius: 34px;
    }
    label.input-switch .slider.round:before {
        border-radius: 50%;
    }
span.input-number {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0!important;
    width: 76px;
    height: 21px;
    padding: 0!important;
}
    span.input-number>* {
        font-size: 15.4px;
    }
    span.input-number .option {
        display: inline-block;
        vertical-align: middle;
        color: #F99C25;
    }
    span.input-number .option.disabled {
        color: #CCCCCC;
    }
        span.input-number .option:before {
            position: relative;
            font-size: 140%;
        }
    span.input-number .input-value {
        display: inline-block;
        font-size: 12.3px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
    }

/*** Layout ***/
#border-guide {
    position: fixed;
    height: calc(100% - 6em);
    width: calc(100% - 2em);
    border: 1px solid red;
    z-index: 9999;
}
#Loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/Logo.png);
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
}
#page {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF
}
#header {
    display: flex;
    position: relative;
    /*color: #165B80;*/
    color: #F99C25;
    width: 100%;
    height: 4em;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    z-index: 10000;
}
    #header > * {
        display: inline-block;
        height: 100%;
    }
    #header > *:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
#menu,
#profile,
#function {
    text-align: center;
    width: 12%;
}
#menu .icon,
#profile .icon {
    font-size: 350%;
    vertical-align: middle;
}
#function .icon {
    font-size: 300%;
    vertical-align: middle;
}
#app-version {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 85%;
    color: #A0A0A0;
    width: auto;
    height: auto;
    padding-right: 5px;
}
#app-version:before,
#app-version:after {
    display: none;
}
#logo {
    width: 70%;
    margin: 0 3%;
    background-image: url(../img/Logo.png);
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
}
#content {
    position: relative;
    display: block;
    width: 100%;
    height: 92.4%;
    height: calc(100% - 4em);
}
#content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    filter: alpha(opacity=20);
    background-color: #DDD;
    z-index: 0;
}
    #content > div {
        position: relative;
        height: 100%;
        margin: auto;
        z-index: 1;
    }
    #content > ion-scroll {
        height: 100%;
        overflow-y: auto !important;
    }
ion-side-menu ion-content {
    background-color: #E7E8EB;
}
    ion-side-menu ion-content > div.scroll {
        height: 100%;
    }
#left-menu-list {
    /*color: #005A99;*/
    color: #F99C25;
    font-size: 100%;
    font-weight: 900;
    height: 100%;
    height: calc(100%);
    padding-top: 0.5em;
    background-color: #E7E8EB;
    background: -webkit-linear-gradient(#F6F7F8,#E7E8EB);
    background: -o-linear-gradient(#F6F7F8,#E7E8EB);
    background: -moz-linear-gradient(#F6F7F8,#E7E8EB);
    background: linear-gradient(#F6F7F8,#E7E8EB);
}
    #left-menu-list ion-content {
        overflow-y: auto;
    }
        #left-menu-list > div {
            line-height: 1;
            margin: 0 1em;
            padding: 1em 0.5em;
            overflow: hidden;
            border-bottom: 2px solid #005A99;
            border-color: #F99C25;
        }
        #left-menu-list > div:before {
            font-size: 130%;
            margin-right: 0.7em;
        }
        #left-menu-list > div.icon-150:before {
            font-size: 150%;
        }
.keyboard-open .content-button.hideable-button {
    height: 100%;
}
.content-button {
    position: relative;
    height: 92.65%;
    height: calc(100% - 3.5em);
}
    .content-button ion-scroll:not(.x-scroll) {
        height: 100%;
        overflow-y: auto !important;
    }
.container-button {
    display: table;
    width: 100%;
    height: 7.35%;
    height: calc(3.5em);
    /*background-color: #005A99;*/
    background-color: #F99C25;
}
.container-button.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
    .container-button>.icon {
        display: table-cell;
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        width: 25%;
    }
    .container-button>.icon:before {
      font-size: 1.3333em;
      vertical-align: middle;
    }
@media screen and (max-width: 500px) {
    #menu .icon,
    #profile .icon {
        font-size: 300%;
    }
    #function .icon {
        font-size: 250%;
    }
}
@media screen and (max-width: 360px) {
    #menu .icon,
    #profile .icon {
        font-size: 200%;
    }
    #function .icon {
        font-size: 150%;
    }
}
@media screen and (max-width: 350px) {
    .main-button button {
        min-width: 45%;
    }
}


/**
 * Intro / Login
 * --------------------------------------------------
 */
#page-intro {
    position:absolute;
    width:100%;
    height:100%;
    display: table;
}
#page-intro .slider {
    height:100%;
}
#page-intro #slide-intro-1:before {
    content: '';
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /*background-color: rgba(0, 0, 0, .6)*/
}

#page-intro .slide-intro .info .logo span {
    font-family:'Berkshire Swash';
    font-size:80px;
    color:#FFFFFF;
    margin-bottom:50px;
    display:inline-block;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#page-intro #slide-intro-1 {
    background-color:#FFFFFF;
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

  .spinner svg {
      width: 30%;
      height: auto;
      stroke: #FFFFFF;
      fill: #000000;
  }

.index-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.index-button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
    font-size: 125%;
    color: #FFFFFF;
    width: 80%;
    padding: 0.8em 1.5em;
    background-color: #F99C25;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.4);
}
    .index-button:active {
        background-color: #D47C24;
        top: 2px;
        left: 2px;
    }
.index-button:first-of-type {
    margin-bottom: 2em;
}
#loadingScreen {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 999999;
}
    #loadingScreen>ion-spinner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

@media all and (max-aspect-ratio: 13/9) { /*portrait (orientation:portrait)*/
    #page-intro #slide-intro-1 .logo {
        width: 80%;
        height: auto;
    }
}

@media all and (min-aspect-ratio: 13/9), (orientation: landscape) { /*landscape (orientation:landscape)*/
    #page-intro #slide-intro-1 .logo {
        width: auto;
        height: 80%;
    }
}


/*** Login ***/
.login {
    background-color: #FFFFFF;
    background: -webkit-linear-gradient(#FFFFFF 50%, #A1E4F7 100%);
    background: -o-linear-gradient(#FFFFFF 50%, #A1E4F7 100%n);
    background: -moz-linear-gradient(#FFFFFF 50%, #A1E4F7 100%);
    background: linear-gradient(#FFFFFF 50%, #A1E4F7 100%);
}
.login-container {
    color: #FFF;
    vertical-align: middle;
    width: 90%;
    max-width: 500px;
    height: 100%;
}
.login-logo {
    display: inline-block;
    width: 100%;
    height: 50%;
    background-image: url(../img/Logo.png);
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.login-form {
    width: 100%;
}
    .login-form * {
        color: inherit;
    }
        .login-form form > * {
            display: block;
            color: #798280;
            white-space: nowrap;
        }
        .login-form form > *:not(:last-child) {
            margin-bottom: 0.5em;
        }
    .login-form .input-container {
        text-align: left;
    }
        .login-form .input-container input {
            display: inline;
            color: #0B7180;
            font-weight: 500;
            text-align: center;
            width: 100%;
            height: 3.5em;
            padding: 0 0.6em;
            border: none;
            border-radius: 6px;
            background-color: #DDE2E5;
        }
        .login-form .input-container input::-webkit-input-placeholder { color: #0B7180; }

        .login-form .input-container input[placeholder]:focus::-webkit-input-placeholder { color: #DDE2E5; }
    .login-form .login-button {
        color: #FFFFFF;
        width: 100%;
        height: 3.5em;
        margin-top: 1.5em;
        padding: 0;
        border: none;
        border-radius: 6px;
        background-color: #007386;
    }
    .login-form .create-account {

        font-weight: 500;

        text-decoration: underline;

        margin-top: 1.5em;

    }
@media all and (min-aspect-ratio: 13/9) { /*landscape (orientation:landscape)*/
    @media screen and (max-height: 550px) {
        .login-logo {
            max-width: 90%;
            margin-bottom: 2em;
        }
    }
    @media screen and (max-height: 450px) {
        .login-logo {
            max-width: 75%;
            margin-bottom: 1.5em;
        }
    }
    @media screen and (max-height: 375px) {
        .login-logo {
            max-width: 60%;
            margin-bottom: 1em;
        }
    }
    @media screen and (max-height: 310px) {
        .login-logo {
            max-width: 45%;
            margin-bottom: 0;
        }
    }
    @media screen and (max-height: 265px) {
        .login-logo {
            display: none;
        }
    }
}

/*** General ***/
#page-installation #lamp-install>.step,
#page-lifting .step {
    color: #999999;
    position: relative;
    counter-increment: steps;
}
#page-installation #lamp-install>.step.active,
#page-lifting .step.active {
    color: #333333;
}
#page-installation #lamp-install>.step:before,
#page-lifting .step:before {
    content:counter(steps);
    display: block;
    text-align: center;
    color: #999999;
    margin-bottom: 0.2em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.2em;
    border: 2px solid #999999;
    border-radius: 50%;
}
#page-installation #lamp-install>.step:after,
#page-lifting .step:after {
    content: attr(title);
    font-weight: 900;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0;
    left: 1.8em;
    color: #999999;
}
#page-installation #lamp-install>.step.active:before,
#page-installation #lamp-install>.step.active:after,
#page-lifting .step.active:before,
#page-lifting .step.active:after {
    color: #333333;
    border-color: #333333;
}

/*** Map ***/
#page-map #map {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #FFFFFF;
}
#page-installation #map {
    position: relative;
    left: 10%;
    width: 80%;
    height: 8em;
    margin: 0.5em 0;
    background-color: #FFFFFF;
}
#page-map #map .gmnoprint,
#page-installation #map .gmnoprint {
    display: none;
}
#map div.gm-bundled-control {
    display: block !important;
    bottom: 60px !important;
}
#map div.gm-bundled-control .gmnoprint {
    display: block !important;
}
    #page-map #map *,
    #page-installation #map * {
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
    #page-map #map #mapCenterControl,
    #page-installation #map #mapCenterControl {
        position: relative;
        top: 10px;
        right: 9px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        background-color: #FFFFFF;
        border-radius: 50%;
        opacity: 0.7;
        filter: alpha(opacity=70); /* For IE8 and earlier */
    }
        #mapCenterControl .center-icon {
            width: 100%;
            height: 100%;
            background-image: url(../img/map-center.png);
            background-size: 50%;
            background-position: center center;
            background-repeat: no-repeat;
        }
#page-map #map + div,
#page-map #map + ion-content {
    width: 100%;
    height: 30%;
    top: 70%;
    background-color: #FFFFFF;
    z-index: 1000;
    -webkit-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
}
#page-map #map + ion-content.no-map {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#page-map #map + ion-content.out-of-range .scroll {
    height: 100%;
}

#page-map #map + ion-content .out-of-range {
    display: table;
    font-size: 2em;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
#page-map #map + ion-content .out-of-range>div {
    display: table-cell;
    vertical-align: middle;
}
#page-map #map + ion-content .out-of-range>div>button {
    color: #333333;
    line-height: 1.2;
    min-width: 8.5em;
    margin-top: 15px;
    padding: 5px 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    border: 2px solid #333333;
    border-radius: 6px;
}
#page-map .mapainfo {
    display: table;
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#page-map .mapainfo.clicked {
    background-color: #DEDEDE;
}
#page-map .mapainfo.not-in-range {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#page-map .mapaInfo-Circle {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 2.54em;
    min-width: 50px;
    background-image: url("../img/map-marker.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
#page-map .installed .mapaInfo-Circle {
    background-image: url("../img/map-marker-installed.png");
}
#page-map .mapaInfo-Datos {
    display: table-cell;
    color: #351757;
    font-size: 1.25em;
    white-space: nowrap !important;
    vertical-align: middle;
    padding-left: 0px;
}
#page-map .mapaInfo-Datos>div {
    display: inline-block;
}
#page-map .mapaInfo-Datos .info {
    max-width: 60%;
}
#page-map .mapaInfo-Datos .status {
    font-size: 80%;
    color: #A0A0A0;
    vertical-align: top;
    width: 40%;
    padding-left: 0.6em;
}
#page-map .mapainfo.not-in-range .mapaInfo-Datos .status {
    color: #3E3E3E;
}

/*** Installation ***/
#page-installation {
    display: table;
    width: 100%;
    padding: 1em 1em;
}
    #page-installation>div {
        display: table-cell;
    }
    #page-installation>#move-select {
        vertical-align: middle;
        text-align: center;
        padding-bottom: 5.5em;
    }
    #page-installation .lamp-scanner {
        min-width: 2.5em !important;
        max-width: 9em;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
        #page-installation .lamp-scanner:before {
            font-size: 150%;
            font-weight: bold;
            vertical-align: middle;
            margin-right: 0.15em;
        }
    #page-installation select {
        color: #999999;
        font-size: 150%;
        min-width: 7.5em;
        max-width: 9em;
        min-height: 2em;
        background-color: #FFFFFF;
        border: 2px solid #999999;
        border-radius: 6px;
    }
    #page-installation .active select {
        color: #333333;
        border-color: #333333;
    }
    #page-installation .title {
        font-size: 200%;
        color: #333333;
        text-align: center;
        margin-bottom: 1em;
    }
    #page-installation .tag-text {
      font-size: 120%;
      color: #444444;
      margin-bottom: 0.1em;
    }
    #page-installation #lamp-install {
      text-align: center;
    }
        #page-installation #lamp-install>div:not(:first-child) {
            margin-top: 10px;
        }
        #page-installation #lamp-install button {
            color: #999999;
            font-size: 150%;
            min-width: 7.5em;
            height: 2em;
            padding: 0 10px;
            border: none;
            border-radius: 6px;
            background: rgba(255,255,255,1);
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
            border: 2px solid #999999;
        }
        #page-installation #lamp-install .active button {
            color: #333333;
            border-color: #333333;
        }
        #page-installation #lamp-install button.pole-active {
          color: #333333;
          background: #FFFFFF;
        }
        #page-installation #lamp-install button:disabled {
            opacity: 0.3;
            filter: alpha(opacity=30);
        }
        #page-installation #lamp-install button.camera {
            font-size: 300%;
            line-height: 0.5;
            height: 1em !important;
        }
        #page-installation #lamp-install .move {
            font-size: 150%;
            width: 100%;
            padding-bottom: 0.5em;
            border-bottom: 2px solid #EEE;
        }
        #page-installation tr.tr-photo-header>td {
            font-size: 70%;
            font-weight: normal !important;
            text-align: center !important;
            width: 50% !important;
        }
        #page-installation #lamp-install .photos,
        #page-installation td.photos {
            font-size: 0;
            text-align: center;
            margin-top: 0 !important;
            margin-bottom: 10px;
        }
            #page-installation #lamp-install .photos>div,
            #page-installation td.photos>div {
                display: inline-block;
                text-align: center;
                width: 48%;
                margin: 0 1%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            #page-installation #lamp-install .photos>div:before,
            #page-installation td.photos>div:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                padding-top: 100%;
            }
                #page-installation #lamp-install .photos>div>div,
                #page-installation td.photos>div>div {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: normal;
                    vertical-align: middle;
                }
#page-installation .table-info {
    font-size: 130%;
    width: 100%;
}
    #page-installation .table-info tr>td {
        text-align: left;
    }
    #page-installation .table-info tr>td:first-child {
        font-weight: 900;
        white-space: nowrap;
        width: 1px;
    }
    #page-installation .table-info tr>td:not(:first-child) {
        padding: 0.25em 0 0 0.5em;
    }
    #page-installation .table-info tr>td.info-form {
        font-size: 85%;
        white-space: normal;
        width: 100%;
        padding: 0.25em 0;
    }
        #page-installation .table-info tr>td.info-form * {
            display: inline-block;
        }
        #page-installation .table-info tr>td.info-form>*:not(:first-child) {
            margin-left: 3%;
        }
        #page-installation .table-info tr>td.info-form input {
            width: 100%;
            height: 1.6em;
            font-weight: normal;
            border: 1px solid #909090;
        }
    #page-installation .table-info textarea {
        width: 100%;
        height: 5em;
        border: 1px solid #909090;
    }
#page-installation .removed_block {
    display: inline-block;
    width: 46%;
}
#page-installation .removed_block:only-of-type {
    width: 99%;
    width: calc(100% - 1px);
}
#page-installation .removed_block:not(:last-of-type) {
    margin-right: 1.375em;
}
#page-installation .removed_lamp_info {
    font-size: 85%;
}
    #page-installation .removed_lamp_info input {
        width: 100%;
        height: 1.6em;
        font-weight: normal;
        border: 1px solid #909090;
    }
.popup-container.lamp-exists .popup-buttons {
    min-height: 45px;
}
.popup-container.lamp-exists .button {
    font-size: 80%;
    min-height: 35px;
    font-weight: bold;
}

/*** Camera ***/
#camera {
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: #000;
}
#camera:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#camera img {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
#camera+.control {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: rgba(0,0,0,0.4);
}
    #camera+.control button {
        font-size: 150%;
        color: #FFF;
        vertical-align: top;
        font-weight: 900;
        padding: 0.3em 0;
        margin: 0 0.3em;
        border: none;
        background: transparent;
    }
    #camera+.control button:first-of-type {
        margin-right: 4.8em;
    }
    #camera+.control button.photo {
        color: #FFF;
        font-size: 100%;
        font-weight: 900;
        width: 4.5em;
        height: 4.5em;
        padding: 2px;
        margin: 2.5em 0.6em 0;
        border-radius: 50%;
        border: 0.4em solid #FFF;
        background: transparent;
    }
    #camera+.control button.photo:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        border: none;
        background-color: #FFF;
    }
@media screen and (max-height: 600px) {
    #camera+.control {
        font-size: 80%;
    }
}

/*** Image ***/
.image-view-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    background: #000;
}
.image-view-modal .scroll {
    height: 100%;
}
.image-view-modal .close {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200%;
    color: #FFFFFF;
    width: 100%;
    padding: 0.3em 0.3em;
    background-color: rgba(0,0,0,0.3);
    z-index: 100000;
}
.image-view-modal .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

@media all and (min-aspect-ratio: 13/9), (orientation: landscape) {
    /*landscape (orientation:landscape)*/
    #page-map #map {
        width: 60%;
        height: 100%;
    }
    #page-map #map + div,
    #page-map #map + ion-content {
        top: 0;
        left: 60%;
        width: 40%;
        height: 100%;
        -webkit-box-shadow: -3px 0px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -3px 0px 5px -3px rgba(0,0,0,0.75);
        box-shadow: -3px 0px 5px -3px rgba(0,0,0,0.75);
    }
}

/*** Inventory ***/
#page-inventory {
    width: 100%;
    padding: 1em 1em;
}
    #page-inventory #menu {
        display: table;
        display: flex;
        width: 100%;
        height: 5.5%;
        height: calc(2.55em);
        margin-bottom: 1em;
    }
        #page-inventory #menu>div {
            display: table-cell;
            width: 50%;
            flex: 1;
            font-weight: bold;
            color: #F99C25;
            padding: 0.5em;
            border: 1px #F99C25 solid;
        }
        #page-inventory #menu>div.active {
            color: #FFFFFF;
            background-color: #F99C25;
        }
        #page-inventory #menu>div:not(:first-of-type) {
            border-left: none;
        }
    #page-inventory #list {
        width: 100%;
        height: 92.5%;
        height: calc(100% - (2.55em + 1em));
    }
        #page-inventory #list>* {
            position: relative;
            height: 100%;
        }
    #page-inventory #types-menu .installed-status {
        text-align: right;
    }
        #page-inventory #types-menu .no-counted,
        #page-inventory #types-menu .counted {
            display: inline-block;
            color: #FFFFFF;
            font-size: 80%;
            white-space: nowrap;
            padding: 0.1em 0.5em;
            margin-top: 0.2em;
            border: 1px solid;
            border-radius: 7px;
        }
            #page-inventory #types-menu .no-counted {
                margin-top: 0;
                background-color: #239f32;
                border-color: #239f32;
            }
            #page-inventory #types-menu .counted {
                background-color: #a5a5a5;
                border-color: #a5a5a5;
            }
            #page-inventory #types-menu .item {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                border-color: #999999;
                border-left: none;
                border-right: none;
            }
#inventory-list ion-header-bar + * {
    top: 44px;
}
    #inventory-list ion-header-bar + .filter + * {
        top: 99px;
    }
    #inventory-list ion-header-bar>div {
        color: #F99C25;
        font-size: 130%;
        font-weight: bold;
        margin: auto;
        padding: 0 55px;
    }
    #inventory-list ion-header-bar>button {
        position: absolute;
        color: #FFFFFF;
        font-size: 85%;
        font-weight: bold;
        min-width: 55px;
        right: 5px;
        border: none;
        border-radius: 5px;
        background-color: #F99C25;
    }
    #inventory-list .item {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-left: none;
        border-right: none;
    }
        #inventory-list .item:first-child {
            border-top: none;
        }
        #inventory-list .item.installed {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }
            #inventory-list .item.installed:last-child {
                border-bottom-color: #cccccc;
            }
        #inventory-list .item .status {
            font-size: 80%;
            float: right;
        }
    #inventory-list .range {
        height: 55px;
        width: 100%;
        padding: 0;
        margin: auto;
        border: none;
    }
        #inventory-list .range input {
            margin: 0 20px;
        }
            #inventory-list .range input::-webkit-slider-thumb {
                height: 1.5em;
                width: 1.5em;
            }
        #inventory-list .range .labels {
            position: absolute;
            display: table;
            display: flex;
            font-size: 85%;
            width: 100%;
            padding: 0 5px;
            margin-top: -20px;
        }
            #inventory-list .range .labels>* {
                display: table-cell;
                text-align: center;
                width: 33%;
                flex: 1;
                font-size: 85%;
            }
                #inventory-list .range .labels>*:first-child {
                    text-align: left;
                }
                #inventory-list .range .labels>*:last-child {
                    text-align: right;
                }

/*** Lifting (app) ***/
#page-lifting {
    display: table;
    width: 100%;
}
    #page-lifting>div {
        display: table-cell;
    }
        #page-lifting>div label {
            font-size: 110%;
            letter-spacing: 0.06em;
            font-weight: 900;
        }
    #page-lifting input {
        max-height: 24px;
        border: 1px solid #909090;
    }
    #page-lifting #map-position {
        position: relative;
        height: 100%;
    }
    #page-lifting #map {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #page-lifting #map .gm-style>.gmnoprint {
        display: none;
    }
    #page-lifting .form-element {
        position: relative;
        min-height: 1.6em; /* this value is really important to calc the sizes, top and bottom values in .form-element :before & :after sub-elements */
        margin: 0.6em 0;
        padding-left: 0.5em; /* .form-element->padding-left should be the same used for .form-element:before->left */
        overflow: hidden;
    }
    #page-lifting .form-element:first-child {
        margin-top: 0.8em;
    }
    #page-lifting .form-element:last-child {
        margin-bottom: 1.2em;
    }
    #page-lifting .form-element:before {
        content: '';
        left: 0.5em; /* same as .form-element->padding-left */
        position: absolute;
        right: auto;
        border-left: 1px solid #999;
        height: calc(100% - 2.4em); /* calculated by 100% - (.form-element->min-height * 1.5) if .form-element->height is fixed use that value instead of min-height */
        top: -50%;
        top: 1.6em; /* same as .form-element->min-height or height if is fixed */
        width: 1px;
        -webkit-transition: "border-color 0.1s ease 0.1s";
        -moz-transition: "border-color 0.1s ease 0.1s";
        -o-transition: "border-color 0.1s ease 0.1s";
        transition: "border-color 0.1s ease 0.1s";
    }
        #page-lifting .form-element>label:first-child {
            padding-right: 5px;
        }
        #page-lifting .form-element>.form-element {
            position: relative;
            padding-left: 1em;
            margin-bottom: 0; /* if this is != 0 the .form-element:before->height must be calculated as calc(100% - (2.4em + this value)) */
        }
        #page-lifting .form-element>.form-element:before {
            left: 1em;
        }
        #page-lifting .form-element>.form-element:after {
            content: '';
            left: 0px;
            position: absolute;
            right: auto;
            border-top: 1px solid #999;
            height: 1px;
            top: 50%;
            top: 0.8em; /* half of .form-element->min-height */
            width: 10px;
        }
            /* this is a 'fix' to hide the leftover for .form-element:before->border if there is only one .form-element nested but with sub-nests */
            #page-lifting .form-element>.form-element:only-of-type>:first-child:before {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                border-left: 1px solid #FFFFFF; /* color must be the background-color */
                left: 0;
                top: 0.8em; /* half of .form-element->min-height */
            }